/* CONTENEDOR */
.hero-peru {
  height: 70vh;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 60px;

  background: 
    linear-gradient(to top, rgba(0,20,50,0.9), rgba(0,0,0,0.2)),
    url("/INVESTIGANDO.png"); /* cambia por tu imagen */
    
  background-size: cover;
  background-position: center;
  overflow: hidden;
}


/* CONTENIDO */
.hero-content {
  color: white;
  z-index: 2;
}

/* TEXTO */
.hero-content h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0;

  opacity: 0;
  transform: translateY(30px);
  animation: fadeUp 1s ease forwards;
  animation-delay: 0.3s;
}

/* ANIMACIONES */
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}