@import "tailwindcss";

@keyframes slideHero {
  0% {
    opacity: 0;
    transform: translateX(-80px);
    filter: blur(6px);
  }
  60% {
    opacity: 1;
    transform: translateX(10px);
    filter: blur(0);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-slideHero {
  animation: slideHero 1.8s ease-out;
}
.clip-triangle {
  clip-path: polygon(0% 0, 100% 0, 100% 100%, 40% 100%);
}